.distance{
    margin-bottom: 12px;
}

legend{
    text-align: center;
}

.btnSalvar{
    text-align: center;
    margin-top: 20px;
}

.align{
    margin-top: 10px;
}

#content{
    padding-top: 8px;
    min-height: 78vh;
}