.b-example-divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

legend{
    text-align: right;
    margin: 0%;
}

#content{
    padding-top: 8px;
}

.btn-align{
    margin: 0%;
    text-align: center;
}